 @import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:wght@300;400&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 :root { 
     --bs-dark-color: rgb(234, 202, 24);
     --bs-mid-color: rgb(243, 217, 67);
     --bs-light-color: white;
 }

 .bg-main{
    height: 80vh;
    position: relative;
 }

 .bg-color{
    background-color: rgba(255, 27, 27, 0.907);
 }

 .navbar-brand {
     letter-spacing: 3px;
     font-size: 30px;
     color: white;
 }

 .container a:hover{
    text-shadow: 0 0 10px white;
    color: white;
}


 #collapsibleNavId a{
     font-size: 15px;
 }

 #collapsibleNavId a:hover{
        color: var(--bs-light-color);
 }

 .common-heading{
   font-size: 2rem;
   font-weight: 500;
   letter-spacing: 0.01rem !important;
 }

 .common-title{
  margin-bottom: 4.2rem;
 }
 
 /* bg */

 .custom-shape-divider-bottom-1696753071 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696753071 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1696753071 .shape-fill {
    fill: #FFFFFF;
}

.fixed-top{
    background-color: #ffc800;
    height: 60px;
}

/* home pg */

.home-section .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.home-section img{
    max-width: 100%;
    height: auto;
    width: 55%;
}

.home-section .container .row button{
   border: none; 
   border-radius: 1rem;
   max-width: 100%;
   height: 30px;
   width: 30%;
} 


.home-section .container .row h1,p{
   color: white;
 } 

 .home-section .container .row h1{
    color: yellow;
  } 

  /* rings */

  .e-rings{
    padding: 6rem 0 3rem 0!important;
  }

  .e-rings .container .card-box .buy{
    border: none;
    background-color: #ffc800;
    border-radius: 1rem;
    height: 30px;
    width: 50%;
  }
  
  /* bg */

  .about-section{
    position: relative;
  }

  .custom-shape-divider-top-1696751608 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1696751608 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1696751608 .shape-fill {
    fill: #FFFFFF;
}

.about-section .form-section{
    width: 50%;
}